body{
 background-image: url("https://s1.1zoom.me/big0/951/Clock_face_Clock_Pocket_watch_Closeup_Three_3_576744_1280x876.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}
#clock {
    text-align: center;
    font-size: 100px;
    color: #ffffff;
    margin-top: 400px;
    background-color: rgba(0, 0, 0, 0.507);
  }
  
  #time {
    margin: 10px 0;
  }
  
  #buttons button {
    margin: 6px;
    font-size: 25px;
    padding: 9px 17px;
    background-color: #4CAF50;
    color: white;
    font-weight: bolder;
    border: none;
    border-radius: 6px;
    width: 120px;
   

  }
  
  #buttons button:hover {
    background-color: #3e8e41;
  }
  
  